Source: oblong-spruce
Section: non-free
Priority: extra
Maintainer: Dan Kegel <dank@oblong.com>
Build-Depends: build-essential,
   clang-format-3.8 | clang-format-3.9,
   debhelper (>= 8.0.0),
   devscripts,
   shellcheck,
Standards-Version: 3.9.4

Package: oblong-spruce
Architecture: all
Depends: ${misc:Depends},
   clang-format-3.8 | clang-format-3.9,
Description: Oblong-specific code formatting tool
 Simple wrapper around clang-format
